<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario (Practica 3)</title>
    <h1>Registro</h1>
    <a href="/">Regresar a noticias</a>
    <form method="POST" enctype="multipart/form-data">
        Usuario: <input type="text" name="user"> <br>
        Correo <input type="email" name="email"> <br>
        Password <input type="password" name="password"> <br>
        Foto de Perfil <input type="file" name="image"> <br>
        <input type="submit" value="Enviar">
    </form>
</head>
<body>
    
</body>
</html>